<div>
  <h1 style="text-align: center;">
    Your Inventory
  </h1>
</div>

<div class="hero-unit ">
<div class="row">
<div class="span3">
  <% @items[:items_col1].each do |item| %>
    <div class="well-home">
      <div>
        
		  <div>
            <%= item[:title] %>
    	  </div> 
      </div>
    </div>
  <% end%>
</div>
<div class="span3">
  <% @items[:items_col2].each do |item| %>
    <div class="well-home">
      <div>

        <div>
          <%= item[:title] %>
    	</div>
      </div>
    </div>
  <% end%>
</div>
<div class="span3">
  <% @items[:items_col3].each do |item| %>
    <div class="well-home">
      <div>
        <div>
          <%= item[:title] %>
	    </div>
      </div>
    </div>
  <% end%>
</div>
<div class="span3">
  <% @items[:items_col4].each do |item| %>
    <div class="well-home">
      <div>
        <div>
          <%= item[:title] %>
	    </div>
      </div>
    </div>
  <% end%>
</div>
</div>
</div>

